.vscode/launch.json
HelloWorld/bin/Debug/netcoreapp2.2/HelloWorld.dll
HelloWorld/obj/Debug/netcoreapp2.2/HelloWorld.csprojAssemblyReference.cache
HelloWorld/bin/Debug/netcoreapp2.2/HelloWorld.pdb
HelloWorld/bin/Debug/netcoreapp2.2/HelloWorld.deps.json
HelloWorld/bin/Debug/netcoreapp2.2/HelloWorld.runtimeconfig.json
HelloWorld/bin/Debug/netcoreapp2.2/HelloWorld.runtimeconfig.dev.json
HelloWorld/obj/HelloWorld.csproj.nuget.cache
HelloWorld/obj/HelloWorld.csproj.nuget.g.props
HelloWorld/obj/HelloWorld.csproj.nuget.g.targets
HelloWorld/obj/project.assets.json
HelloWorld/obj/Debug/netcoreapp2.2/HelloWorld.dll
HelloWorld/obj/Debug/netcoreapp2.2/HelloWorld.pdb
HelloWorld/obj/Debug/netcoreapp2.2/HelloWorld.AssemblyInfo.cs
HelloWorld/obj/Debug/netcoreapp2.2/HelloWorld.AssemblyInfoInputs.cache
HelloWorld/obj/Debug/netcoreapp2.2/HelloWorld.assets.cache
HelloWorld/obj/Debug/netcoreapp2.2/HelloWorld.csproj.CoreCompileInputs.cache
HelloWorld/obj/Debug/netcoreapp2.2/HelloWorld.csproj.FileListAbsolute.txt
.gitignore
